

ul {
  list-style-type: none; 
}
h1 {
  text-align: center;
  font-weight: 100;
  color: #383838;
  text-transform: capitalize;
}

li{
  padding-top: 5px;
  padding-bottom: 5px;
  color:#383838;
  
}

body{
  /* background-image: url("images/images.jpeg"); */
 background-color: #CFD2CF;

 
} 
