

ul {
  list-style-type: none; 
}
h1 {
  text-align: center;
  font-weight: 100;
  color: maroon;
  text-transform: capitalize;
}

/* body{
  background-image: url("https: ; //c4.wallpaperflare.com/wallpaper/204/41/217/game-of-thrones-fantasy-art-braavos-statue-wallpaper-preview.jpg");

  background-repeat: no-repeat; 

 
} */
/* body{
 background-image: url("images/winter.jpeg");

} */